/* -------------
    COMMONS   
------------- */
.row {
    display: flex;
    flex-wrap: wrap;
}
.row li {
    list-style: none;
}
.row li a {
    text-decoration: none;
    color: inherit;
}

/* --------------
    BUTTONS
-------------- */
.btn {
    background-color: rgba(0, 97, 255, 1);
    border: none;
    color: white;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 12px 0;
    width: 100%;
    transition: 0.4s;
}
.btn-secondary {
    width: 60%;
    background-color: rgba(255, 255, 255, 1);
    color: #313039;
    font-weight: normal;
    border: 1px solid black;
}
.btn:hover{
    background-color: rgba(0, 97, 255, 0.8);
    transform: scale(1.2);
}
.btn:active {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
}
.btn-secondary:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* --------------
    NAV-BAR
-------------- */
.logo {
    transition: transform 0.4s;
}
.logo:hover {
    transform: scale(1.2);
}
.logo:active {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
}
.nav-left ul li, .nav-right ul li:not(:last-child), #info .col-info ul li {
    transition: 0.4s;
}
.nav-left ul li:not(:first-child):hover, .nav-right ul li:not(:last-child):hover, #info .col-info ul li:hover {
    padding-bottom: 3px;
    color: lawngreen;
    cursor: pointer;
}
.nav-left ul li:active, .nav-right ul li:not(:last-child):active, #info .col-info ul li:active {
    color: inherit;
}

/* --------------
    CONTAINER
-------------- */
.big-container {
    max-width: 1200px;
    margin: auto;
}
.container {
    max-width: 1000px;
    margin: auto;
}

/* --------------
    COMMON WIDTH
-------------- */
.width30 {
    width: 30%;
}
.width70 {
    width: 70%;
}
.width60 {
    width: 60%;
}
.width50 {
    width: 50%;
}
.width40 {
    width: 40%;
}
#cooperation .row .row .row {
    justify-content: center;
    align-items: center;
}
#cooperation .cooperation-logos img {
    width: 50%;    
}

/* --------------
    FILTER
-------------- */
.filter {
    filter: invert(1);
}