@import url(reset.css);
@import url(typography.css);
@import url(commons.css);
@import url(keyframes.css);

/* -------------
    HEADER   
------------- */
header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
}
header .row {
    align-items: center;
    flex-wrap: nowrap;
}
header .row li:not(:last-child) {
    margin-right: 35px;
}
.nav-btn {
    padding: 12px 18px;
}
.row li a > img {
    padding: 12px 0 5px;
}
@media screen and (max-width:1100px) {
    h1 {
        font-size: 50px;
    }    
}

/* -------------
    HAMBURGER DI SINISTRA   
------------- */
.hamburger-left {
    position: relative;
    width: 30px;
    height: 4px;
    background-color: #000;
    border-radius: 10%;
    cursor: pointer;
    transition: 0.4s;
    z-index: 10;
}
.hamburger-left::before, .hamburger-left::after {
    content: '';
    position: absolute;
    height: 4px;
    right: 0;
    background-color: #000;
    border-radius: 10%;
    transition: 0.4s;
}
.hamburger-left::before {
    top: -10px;
    left: 0;
    width: 20px;
}
.hamburger-left::after {
    top: 10px;
    left: 0;
    width: 25px;
}
.toggle-menu-left {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 11;
    cursor: pointer;
}
.hamburger-left, .toggle-menu-left {
    display: none;
}
.nav-left input:checked ~ .hamburger-left {
    background-color: transparent;
}
.nav-left input:checked ~ .hamburger-left::before {
    top: 0;
    width: 30px;
    transform: rotate(-45deg);
}
.nav-left input:checked ~ .hamburger-left::after {
    top: 0;
    width: 30px;
    transform: rotate(45deg);
}
.nav-left input:checked ~ ul {
    left: 0;
    box-shadow: 20px 0 40px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1100px) {
    header {
        height: 100px;
    }
    .hamburger-left, .toggle-menu-left {
        display: block;
        position: fixed;
        top: 40px;
        left: 40px;
    }
    .toggle-menu-left {
        opacity: 0;
    }
    .nav-left ul {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -300px;
        width: 300px;
        height: 380px;
        padding-top: 100px;
        background-color: white;
        transition: 0.4s;
    }
    .nav-left ul li {
        padding-top: 40px;
        box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .nav-left ul li:not(:last-child) {
        margin-right: 0;
    }
}
/* -------------
    HAMBURGER DI DESTRA   
------------- */
.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background-color: black;
    border-radius: 10%;
    cursor: pointer;
    transition: 0.4s;
    z-index: 10;
}
.hamburger::after, .hamburger::before {
    content: '';
    position: absolute;
    height: 4px;
    right: 0;
    background-color: black;
    border-radius: 10%;
    transition: 0.4s;
}
.hamburger::before {
    top: -10px;
    width: 20px;
}
.hamburger::after {
    top: 10px;
    width: 25px;
}
.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 11;
    cursor: pointer;
    opacity: 0;
}
.hamburger, .toggle-menu {
    display: none;
}
.nav-right input:checked ~ .hamburger {
    background-color: transparent;
}
.nav-right input:checked ~ .hamburger::before {
    top: 0;
    width: 30px;
    transform: rotate(-45deg);
}
.nav-right input:checked ~ .hamburger::after {
    top: 0;
    width: 30px;
    transform: rotate(45deg);
}
.nav-right input:checked ~ ul {
    right: 0;
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1100px) {
    .hamburger, .toggle-menu {
        display: block;
        position: fixed;
        top: 40px;
        right: 40px;
    }
    .nav-right {
        flex-direction: column;
    }
    .nav-right ul {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 380px;
        padding-top: 100px;
        background-color: white;
        transition: 0.4s;
    }
    .nav-right ul li:not(:last-child) {
        margin-right: 0;
        padding-top: 40px;
        box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);

    }
    .nav-right ul li {
        text-align: center;
        width: 100%;
        height: 100%;
    }
}

/* -------------
    MAIN   
------------- */
/* -------------
    HERO   
------------- */
#hero {
    background-color: #b4d0e7;
    padding-top: 98px;
    margin-bottom: 160px;
}
#hero .big-container .row{
    padding: 60px 0 25px;
}
#hero .big-container .row .width30 .btn-info{
    width: 65%;
    margin-top: 30px;
}
#hero .big-container .row .width30 .btn-info div span{
    display: block;
    padding: 30px 0 80px;
}
#hero .big-container .row .width70 {
    position: relative;
    width: 70%;
}
#hero .big-container .row .width70 img {
    position: absolute;
    width: 100%;
}
@media screen and (max-width: 1100px) {
   #hero .width30 {
    width: 50%;
   }
   #hero .big-container .row .width70 {
    width: 50%;
   }
}


/* -------------
    PIANI BUSINESS   
------------- */
#business-plan {
    margin-bottom: 150px;
}
#business-plan label {
    display: inline-block;
    margin: 50px 50px 50px 0;
}
main .container .row {
    justify-content: space-between;
}
#business-plan .row > .col-business {
    border: 1px solid #d0d0d3;
}
#business-plan .row > div > small {
    text-align: center;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #d0d0d3;
}
#business-plan .promo-mini-container {
    padding: 35px 30px 25px;
}
#business-plan .promo-mini-container strong {
    font-size: 14px;
    padding: 25px 0 15px;
}
#business-plan .promo-mini-container h4 {
    margin-top: 50px;
}
#business-plan .row .promo-mini-container .promo-details {
    margin: 50px 0 25px;
}
#business-plan .row .promo-mini-container .promo-details .row-promo-details{
    display: flex;
}
#business-plan .row .promo-mini-container .promo-details small{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
}
#business-plan .row .promo-mini-container .promo-details .fa-solid{
    margin-right: 10px;
}
#business-plan .row .promo-mini-container .promo-details .row-promo-aspect small::before{
    content: "\f00c";
    font: var(--fa-font-solid);
    color: #187fff;
    font-size: 16px;
    margin-right: 10px;
}

#business-plan .row .promo-mini-container .trial-section span {
    display: block;
    padding: 35px 0;
}
#business-plan .row .promo-mini-container .trial-section hr{
    width: 25%;
    color: #d0d0d3;
}
#business-plan .row .promo-mini-container .promo-details h4 {
    padding-bottom: 35px;
}
#business-plan .row .promo-mini-container .promo-details .fa-check {
    color: #0061ff;
}


/* -------------
    PIANO BUSINESS ORIZZONTALE
------------- */
main .container .row-enterprise {
    margin-top: 50px;
    border: 1px solid #d0d0d3;
}
main .container .row-enterprise small {
    display: block;
    text-align: center;
    padding: 15px 0 10px;
    border-bottom: 1px solid #d0d0d3;
}
.row-enterprise .promo-mini-container {
    display: flex;
}
main .container .row-enterprise .width70 span {
    display: block;
    font-size: 14px;
    padding: 40px 0 25px;
}


/* -------------
    FLEX IMMAGINE E TESTO
------------- */
#partner {
    margin-bottom: 160px;
}
#partner .width60 img {
    width: 100%;
}
#partner .width40 {
    padding: 50px;
}
#partner .width40 p{
    font-size: 14px;
    padding: 15px 0 30px;
}


/* -------------
    SEZIONE OPERAZIONI
------------- */
#operation {
    margin-bottom: 200px;
}
#operation h2 {
    padding-bottom: 75px;
}
#operation .col-operation {
    padding-bottom: 65px;
}
#operation .col-operation img {
    width: 100%;
}
#operation .col-operation h3 {
    padding-bottom: 35px;
}


/* -------------
    SEZIONE COOPERATION
------------- */
#cooperation .row {
    flex-wrap: nowrap;
}
#cooperation .row .row {
    flex-wrap: wrap;
}
#cooperation .container a {
    display: block;
    margin: 60px 0 145px;
}
#cooperation .cooperation-logos {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}
#cooperation .cooperation-logos .col-logos {
    width: 50%;
    height: 50%;
}
#cooperation .cooperation-logos .col-logos:hover {
    cursor: pointer;
    animation: rotation-zoom 0.6s;
    animation-timing-function: cubic-bezier(.34,.26,.58,-0.03);
}
#cooperation .left-logos div:first-child {
    background-color: #a2d39b;
    box-shadow: inset 0 0 0 0.8vw #d1e9cd;
}
#cooperation .left-logos div:nth-child(2) {
    background-color: #61082b;
}
#cooperation .left-logos div:nth-child(3) {
    background-color: #0093ce;
}
#cooperation .left-logos div:nth-child(4) {
    background-color: #ff1c1c;
}
#cooperation .right-logos div:first-child {
    background-color: #d5001f;
}
#cooperation .right-logos div:nth-child(2) {
    background-color: #b4d0e7;
}
#cooperation .right-logos div:nth-child(3) {
    background-color: #0d2481;
}
#cooperation .right-logos div:nth-child(4) {
    background-color: #ffd830;
}
#cooperation .middle-logo {
    background-color: #f5f5f5;
    padding: 50px;
    overflow-y: auto;
}
#cooperation .middle-logo:hover {
    cursor: pointer;
    animation: scale-zoom 1.5s;
    animation-timing-function: cubic-bezier(.71,.33,.67,.16);
}
#cooperation .middle-logo hr {
    color: #d0d0d3;
    width: 20%;
    margin: 40px 0;
}
#cooperation .middle-logo p {
    padding-bottom: 50px;
}


/* -------------
    SEZIONE PROMO
------------- */
#promo {
    background-color: #b4d0e7;
    margin-bottom: 160px;
}
#promo .row {
    padding: 130px 0;
    justify-content: space-between;
}
#promo .right {
    text-align: right;
}


/* -------------
    SEZIONE FAQ
------------- */
#faq {
    margin-bottom: 150px;
}
#faq h2 {
    margin-bottom: 60px;
}
#faq #accordion li {
    list-style: none;
    border-top: 1px solid #999999;
    padding: 40px 0;
}
#faq #accordion li:last-child {
    border-bottom: 1px solid #999999;
}
#faq #accordion li label{
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
#faq #accordion li .fa-chevron-down {
    padding-right: 50px;
}
#faq #accordion label + input[type="radio"] {
    display: none;
}
#faq #accordion li .content {
    max-height: 0;
    overflow: hidden;
    transition: 0.7s;
}
#faq #accordion label + input[type="radio"]:checked + .content {
    max-height: 300px;
    margin: 40px 0;
}


/* -------------
    FOOTER
------------- */
#info {
    background-color: #000;
}
footer h3 {
    color: inherit;
    margin-bottom: 30px;
}
#info .row  {
    justify-content: space-between;
    padding-top: 100px;
}
#info .big-container .col-info {
    width: 15%;
}
#info .big-container .col-info:first-child {
    border-bottom: 1px solid white;
}
#info .big-container .col-info li:not(:last-child) {
    margin-bottom: 15px;
}
#info .big-container .col-info li:last-child {
    margin-bottom: 110px;
}
#info .lenguage {
    position: relative;
    padding: 50px 0;
}
#info .fa-earth-americas {
    color: inherit;
    padding-right: 10px;
}
#info .fa-sort-up {
    color: inherit;
    position: relative;
    top: 6px;
}
#info .lenguage .choose {
    position: absolute;
    left: 5%;
    top: -30%;
    display: none;
    background-color: darkblue;
    border: 1px solid white;
}
#info .fa-sort-up:hover {
    transform: scale(1.4);
    background-color: #0061ff;
    border-radius: 35%;
    cursor: pointer;
}
#info .fa-sort-up:hover + .choose {
    display: block;
    border-radius: 40%;
    animation: bounce 0.8s infinite alternate;
    animation-timing-function: cubic-bezier(0,-0.45,.16,1.03);
}